body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
}

body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: #fff;
  border: none;
}

h1, h2, h3, h4, h6 {
  margin-bottom: 1rem;
}

.btn-dark {
  border-radius: 6px;
  font-weight: 500;
}

input, textarea {
  border-radius: 6px;
  font-size: 15px;
}

.card-body a {
  text-decoration: underline;
  font-size: 14px;
}

.social-icons a {
  color: inherit;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .btn {
    width: 100%;
  }

  .social-icons {
    margin-top: 1rem;
  }
}




